{% extends 'blog/base.html' %}
{% load blog_tags %}


{% block title %}Mój blog{% endblock %}

{% block content %}
	<h1>Mój blog</h1>
	{% if tag %}
		<h2>Posty oznaczone tagiem "{{ tag.name }}"</h2>
	{% endif %}

	{% for post in posts %}
		<h2>
			<a href="{{ post.get_absolute_url }}">
				{{ post.title }}
			</a>
		</h2>
		<p class="date">
			Opublikowany {{ post.publish }} przez {{ post.author }}
		</p>
		{{ post.body|markdown|truncatewords_html:30 }}
	{% endfor %}
	{% include "blog/pagination.html" with page=posts %}
{% endblock %}